@include breakpoint($desktop) {
    main {

        .section1 {
            margin-top: 6vw;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-areas:
                "text imagegrid";

            .text {
                grid-area: text;
                display: flex;
                align-items: center;
                background-image: url(./images/crosaint.svg);
                background-position: center;
                background-repeat: no-repeat;

                h2 {
                    font-family: 'Jost Regular';
                    color: $accent2;
                    font-size: 1.8rem;
                    text-transform: uppercase;
                }

                h3 {
                    color: $secondary;
                    font-family: $bold;
                    font-size: 4.5rem;
                    line-height: 1.1;
                    max-width: 100%;
                }

                p {
                    color: $secondary;
                    font-family: $regular;
                    font-size: 1.3rem;
                    line-height: 1.3;
                    padding-top: 2rem;
                    max-width: 100%;
                }

                .headline {
                    display: inline-block;

                    .divider {

                        img {
                            max-width: 100vw;
                        }
                    }
                }
            }

            .image {
                grid-area: imagegrid;
                display: flex;
                justify-content: flex-end;

                img {
                    width: 75%;
                    align-self: center;
                }
            }
        }


    }

}

@include breakpoint(0, $mobile) {
    main {

        .section1 {
            margin-top: 6vh;


            .text {
                grid-area: text;
                display: flex;
                align-items: center;
                background-image: url(./images/crosaint.svg);
                background-position: center;
                background-repeat: no-repeat;
                margin: 0 5vw;

                h2 {
                    font-family: 'Jost Regular';
                    color: $accent2;
                    font-size: 1.6rem;
                    text-transform: uppercase;
                }

                h3 {
                    color: $secondary;
                    font-family: $bold;
                    font-size: 2rem;
                    line-height: 1.1;
                    max-width: 100%;
                }

                p {
                    color: $secondary;
                    font-family: $regular;
                    font-size: 1.3rem;
                    line-height: 1.3;
                    padding-top: 2rem;
                    max-width: 100%;
                    margin-bottom: 3vh;
                }

                .headline {
                    display: inline-block;

                    .divider {

                        img {
                            max-width: 100vw;
                        }
                    }
                }
            }

            .image {
                grid-area: imagegrid;
                display: flex;
                justify-content: center;

                img {
                    width: 100vw;
                    align-self: center;
                }
            }
        }
    }
}