/* jost-regular - latin */
@font-face {
    font-family: 'Jost Regular';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('./fonts/jost-v14-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./fonts/jost-v14-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* jost-600 - latin */
@font-face {
    font-family: 'Jost Bold';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('./fonts/jost-v14-latin-600.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./fonts/jost-v14-latin-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* jost-800 - latin */
@font-face {
    font-family: 'Jost ExtraBold';
    font-style: normal;
    font-weight: 800;
    src: local(''),
        url('../fonts/jost-v14-latin-800.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/jost-v14-latin-800.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}