// BREAKPOINTS
$mobile: 768;
$desktop: $mobile + 1;


//COLORS
$cream: #FFF7EC;
$primary: #deb887;
$secondary: #504538;
$accent: #407f59;
$accent2: #8b9e5c;



//FONTS
$regular: 'Jost Regular';
$bold: 'Jost Bold';
$extrabold: 'Jost ExtraBold';